<!DOCTYPE html>
<html>
<body>
<h1>Esta es la pestaña de presentacion</h1>
<h2>Bienvenidos, esta es una pagina creada para ser la prncipal y la que recibe a la gente</h2>
<h2>En las páginas a continuación se reciben 2 variables, X e Y, las cuales son dadas por una aplicación en el celular, gracias a ellas se realizó una matriz, la cual es como un plano cartesiano y una "simulación" de una plataforma industrial... o algo asi</h2>
<h3>Accesos a al resto de paginas</h1>
<ul>
		<li><a href="{{ url_for('Matriz') }}">Ir a la pagina de la Matriz</a></li>
		<li><a href="{{ url_for('Volcamiento') }}">Ir a a la pagina de Volcamiento</a></li>

	</ul>
</body>
</html>

